@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hiring">
    <h2 class="wow flipInX" style="color:#008a69">
        @ctaWEB.App_GlobalResources.Users.Activated
    </h2>
</div>
