@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hiring">
    <h2 class="wow flipInX" style="color:#1C1C1C;">
        La contraseña ha sido enviada a su mail. Si no le llega, por favor, revise su casilla de Spam.
    </h2>
</div>


