<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VicioussEmptyPage" value="http://www.viciouss.com/Home/Empty" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ctaDBEntities" connectionString="metadata=res://*/ctaDBModel.csdl|res://*/ctaDBModel.ssdl|res://*/ctaDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:s10.winhost.com;initial catalog=DB_102292_ctadb;integrated security=False;user id=DB_102292_ctadb_user;password=arpVICIOUSS1984;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ctaWEBAdminContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ctaWEBAdminContext-20161130225347; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ctaWEBAdminContext-20161130225347.mdf" providerName="System.Data.SqlClient" />
    <add name="ctaWEBContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ctaWEBContext-20161201222209; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ctaWEBContext-20161201222209.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="/User/Login" timeout="2880"></forms>
    </authentication>
    <membership defaultProvider="ctaMembershipProvider">
      <providers>
        <clear />
        <add name="ctaMembershipProvider" type="ctaMEMBERSHIP.ctaMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieve="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueMail="false" maxInvalidPasswordAttempts="3" minRequiredPasswordLegth="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ctaRoleProvider">
      <providers>
        <clear />
        <add name="ctaRoleProvider" type="ctaMEMBERSHIP.ctaRoleProvider, ctaMEMBERSHIP" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
	<rewrite>
      <rules>
        <clear />
        <rule name="Viciouss-http2https" enabled="true" stopProcessing="true">
			<match url=".*" />
			<conditions>
				<add input="{HTTPS}" pattern="off" ignoreCase="true" />
			</conditions>
			<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
		</rule>
		<rule name="viciousAdmin-redirect" enabled="true" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
			<add input="{HTTP_HOST}" pattern="^www\.admin\.viciouss\.com$" />
		  </conditions>
		  <action type="Redirect" url="http://admin.viciouss.com/{R:0}" />
		</rule> 
        <rule name="viciousAdmin-rewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www\.)?admin\.viciouss\.com$" />
            <add input="{PATH_INFO}" pattern="^/myappadmin/($|/)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/myappadmin/{R:0}" />
        </rule> 
      </rules>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>