@{
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@*at loading bring shares of type MERVAL*@

<div class="container">
    <h2 style="color:#008a69">Acciones</h2>
    <div id="quotes_boxes">
        @Html.Partial("~/Views/Quotes/Partial/SharesWidget.cshtml", new ctaWEB.Models.QuotesSharesModel(1, 1))
    </div>
</div>   
