<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.viciouss.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w19.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>viciouss.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>viciouss</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ctaDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_102292_ctadb;Integrated Security=False;User ID=DB_102292_ctadb_user;Password=arpVICIOUSS1984;Application Name=EntityFramework" Name="Data Source=tcp:s10.winhost.com;Initial Catalog=DB_102292_ctadb;Integrated Security=False;User ID=DB_102292_ctadb_user;Password=arpVICIOUSS1984;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=localhost;Initial Catalog=DB_102292_ctadb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ctaDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ctaDBModel.csdl|res://*/ctaDBModel.ssdl|res://*/ctaDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AMRO-HP;initial catalog=ctaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ctaDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ctaDBModel.csdl|res://*/ctaDBModel.ssdl|res://*/ctaDBModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:s10.winhost.com;initial catalog=DB_102292_ctadb;integrated security=False;user id=DB_102292_ctadb_user;password=arpVICIOUSS1984;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>