@{
    Layout = null;
}

<div class="container">
    <div class="row">         
        <div class="col-md-12 text-center">
            <div class="copyright">
                Viciouss&copy;@DateTime.Now.Year.ToString() - Todos los Derechos Reservados - <a href="http://viciouss.com/news/wp-content/uploads/2018/09/TC-Viciouss.com_.pdf" target="_blank" style="text-decoration:none;color:#ffffff;font-size:1.3em;font-family:lato;">Términos y Condiciones</a>                             
            </div>
        </div>
    </div>
</div>