
@{
    Layout = null;
}

<!DOCTYPE html>

<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:362px">
        <div class="modal-content">
            <form id="forgotpsw_form" class="form-signin wow fadeInUp" action="@Url.Action("DoForgotPassword", "User")" method="post">
                <h2 class="form-signin-heading">Recuperar Contraseña</h2>
                @Html.AntiForgeryToken()
                <div class="login-wrap" id="loggin_box">
                    <p>Ingresá tu e-mail de registro y te enviaremos tu contraseña</p>
                    <div class="form-group" id="login_email_forgotpsw_group">
                        <input type="text" class="form-control" placeholder="Email" id="email_forgotpsw" name="email_forgotpsw">
                    </div>
                    <div class="form-group" id="login_error_forgotpsw_group">
                    </div>
                    <div style="display:inline-block;margin-top:20px">
                        <button class="btn btn-lg btn-login" type="submit" id="submit_register" style=" width:139px;margin-right:10px">Enviar</button>
                        <button class="btn btn-lg btn-login" type="submit" style="width:138px" data-dismiss="modal">@ctaWEB.App_GlobalResources.Modals.Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#forgotPasswordModal').on('shown.bs.modal', function () {
            $('#email_forgotpsw').focus()
        });

        $('#forgotPasswordModal').on('hidden.bs.modal', function () {  //cleaning the modal on close
            $('#login_email_forgotpsw_group').removeClass('has-error'); // remove the error class
            $('#login_error_forgotpsw_group').removeClass('has-error');
            $('.help-block').remove(); // remove the error text
            $('#email_forgotpsw').val('');
        });
    });

    $('#forgotpsw_form').submit(function (event) {
        $form = $(this);

        var target = document.getElementById('spin');
        var spinner = new Spinner().spin(target);

        // get the form data
        // there are many ways to get this data using jQuery (you can use the class or id also)
        var formData = {
            'email': $('input[name=email_forgotpsw]').val()
        };

        // process the form
        $.ajax({
            type: $form.attr('method'), // define the type of HTTP verb we want to use (POST for our form)
            url: $form.attr('action'), // the url where we want to POST
            data: formData, // our data object
            dataType: 'json', // what type of data do we expect back from the server
            encode: true
        })
            .done(function (data) {
                $('#login_email_group').removeClass('has-error'); // remove the error class
                $('#login_error_forgotpsw_group').removeClass('has-error');
                $('.help-block').remove(); // remove the error text

                // here we will handle errors and validation messages
                if (!data.success) {
                    if (data.error) {
                        $('#login_email_forgotpsw_group').addClass('has-error'); // add the error class to show red input

                        if (!$('#login_error_forgotpsw_group').hasClass('has-error')) {
                            $('#login_error_forgotpsw_group').addClass('has-error');
                            $('#login_error_forgotpsw_group').append('<div class="help-block alert">' + data.message + '</div>'); // add the actual error message under our input
                        }

                        spinner.spin(false);
                    }
                }
                else {
                    window.location = data.url;
                }
            })
            .fail(function (data) {
                // show any errors
                // best to remove for production
                console.log(data);
                spinner.spin(false);
            });
        // stop the form from submitting the normal way and refreshing the page
        event.preventDefault();
    });

</script>

