@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* PAGE HEADER *@
<div class="row text-center" style="background-color:#008a69;
                                    color:#ffffff;
                                    font-size:2.0em;
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    font-weight:bold;
                                    margin: 0px;">
    Preguntas Frequentes
</div>

<div class="white-bg">
    <div class="container career-inner">
        <div class="row">
            <div class="col-md-12 career-head" style="margin-top:40px;">
                <p class="lead wow fadeIn text-content" style="text-align:center">¿Tenés alguna pregunta? Alguien más pudo haberlo preguntado antes</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 wow fadeIn text-content">
                <div class="panel-group wow fadeInUp" id="accordion" data-wow-duration="2s">

                    <!-- PANEL 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle text-content" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    ¿Qué es Viciouss?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p>VICIOUSS es una plataforma que busca otorgarle todas las herramientas que necesita un inversor argentino para invertir en el mercado financiero. </p>
                                <p>Nuestra misión es mejorar la toma de decisión del inversor asi como el seguimiento que realiza sobre sus inversiones, a través de herramientas, alertas de mercado, novedosos informes de mercado y estrategias de inversión, logrando una óptima disciplina de gestión de un portfolio de inversiones financieras.</p>
                                <p>Brindamos todos los canales de información que se necesitan - insights, análisis y herramientas de mercado.</p>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    ¿Qué es el análisis técnico?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p>El análisis técnico es psicología social aplicada a los mercados financieros. Esta disciplina intenta reconocer las tendencias y cambios en el comportamiento de las masas con el fin de tomar decisiones de trading más inteligentes.</p>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    ¿Cómo comienzo a realizar análisis técnico en Viciouss?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p>Para poder realizar AT sobre un activo debes hacerlo a través de la sección Watchlists (vínculo a sección), en donde podrás crear diferentes Watchlists, agregar títulos a esos Watchlists, y trabajar sobre los mismos, quedando tus gráficos y análisis debidamente guardados. </p>
                            </div>
                        </div>
                    </div>

                    <!-- PANEL 4 -->
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Una vez que estoy en el gráfico, ¿cómo utilizo las herramientas?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p>Puedes agregar indicadores (medias móviles, MACD, oscilador estocástico, etc.), líneas, y herramientas chartistas (arcos/ líneas de Fibonacci, bandas de boolinger) a través de la barra de herramientas situada encima del gráfico, y sus parámetros usuales previamente seleccionados.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    ¿Qué otras funcionalidades poseen los gráficos?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p>También puedes configurar el tipo de gráfico (línea o velas), marcar líneas de tendencias, configurar las escalas del eje y extender el gráfico para proyectar la serie. </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-faq">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" style="color: rgb(20, 112, 99)" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    Ayuda sobre indicadores, ¿qué significa cada uno?
                                </a>
                            </h4>
                        </div>

                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body panel-faq">
                                <p><strong>Media Móvil (MA):</strong> Corresponde al promedio simple o media aritmética de los precios de cierre de las últimas “n” ruedas.</p>
                                <p><strong>Media Móvil Exponencial (EMA):</strong> Es una media móvil ponderada exponencialmente que busca darle más peso a los valores más reciente, lo que permite detectar más rápidamente cambios en el comportamiento de los precios. </p>
                                <p><strong>Relative Strength Index (RSI):</strong> Es un indicador de sobrecompra o sobreventa, que mide la fuerza con la actúa la oferta y la demanda, moviéndose entre 0 y 100.</p>
                                <p><strong>Moving Average Convergence Divergence (MACD):</strong> Este indicador identifica el inicio o agotamiento de una tendencia mediante el cruce de la línea del indicador (MACD) y de su media o promedio móvil.</p>
                                <p><strong>Stochastic Oscilator Fast (SO):</strong> Es un estadístico que se construye a través de la posición de una cotización con respecto a su máximo y mínimo en un rango de ruedas determinado (usualmente 14 días). El indicador oscila entre 0 y 100, señalando “compra” cuando el indicador cruza en forma ascendente la línea de señal (línea punteada), que es el promedio simple de 3 ruedas del indicador. Además, se marcan límites de sobre compra y sobre venta, usualmente en  80 y 20 respectivamente.</p>
                                <p><strong>Stochastic Oscilator Slow:</strong> Este indicador busca suavizar el indicador estocástico rápido, de manera de dar señales de compra o venta más contundentes o menos apresuradas. Al igual que el oscilador estocástico rápido, indica “compra” cuando cruza en forma ascendente a su la línea de señal (línea punteada), o “venta” cuando la cruza de forma descendente.</p>
                                <p><strong>Momentum:</strong> Es un indicador que mide si los precios se están acelerando o desacelerando, expresando cuanto difieren del precio de “n” ruedas anteriores en términos absolutos.</p>
                                <p><strong>Rate of Change (ROC):</strong> Similar al momentum, es un indicador que mide si los precios se están acelerando o desacelerando, expresando cuanto difieren del precio de “n” ruedas anteriores pero en términos relativos (%).</p>
                                <p><strong>Bandas de Boolinger:</strong> Estas bandas se usan para determinar niveles de soportes y resistencias alrededor de los precios, marcados por dos desviaciones estándar respecto a la media móvil exponencial de 20 días.</p>
                                <p><strong>WilliamsR:</strong> Es un oscilador que mide cómo de cerca del máximo o del mínimo de un período determinado han cerrado los precios en la última sesión. Toma valores entre 0 y 100. Cuando se acerca a 0 está sobrecomprado y es probable que las cotizaciones giren a la baja y cuando se acerca a 100 está sobrevendido y es probable que las cotizaciones giren al alza.</p>
                                <p><strong>On-Balance Volume (OBV):</strong> Es empleado para medir el flujo positivo y negativo del volumen en un instrumento financiero en relación a su precio a través del tiempo. Se enfoca en la importancia del volumen y como puede afectar tanto el precio como el momentum de un activo determinado.</p>
                                <p><strong>Volume Oscillator:</strong> Muestra la diferencia entre dos medias móviles. La diferencia puede ser expresada en puntos o porcentajes. Se emplea para determinar si el volumen total de la tendencia es creciente o decreciente.</p>
                                <p><strong>Cruce Medias:</strong> Son una manera de filtrar la dirección de la tendencia frente al ruido que suponen las cotizaciones diarias. Es una técnica operativa o de filtro que se basa en el cruce de dos o más medias de distintos periodos</p>
                                <p><strong>Coeficiente Correlación:</strong> El coeficiente de correlación es una medida que determina el grado al que se asocian los movimientos de dos variables. Suele establecerse entre el comportamiento de varios activos (de forma general suelen ser dos) para predecir el comportamiento de la cotización de estos a lo largo de diferentes muestreos de tiempo con el fin de determinar si se dan momentos clave de compra o venta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


