
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="white-bg">
    <div class="container career-inner">
        <div class="row">
            <div class="col-md-12 career-head" style="margin-top:40px;">
                <h1 class="wow fadeIn text-content">Sobre Nosotros</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 wow fadeIn text-content">
                <p class="align-left">
                    Somos un grupo de profesionales de las finanzas y de la programación, que uniendo nuestras capacidades acercamos al inversor una serie de herramientas financieras para la gestión de su portafolio, así como contenido actualizado y fiable acerca de nuestro mercado y los principales mercados mundiales.
                </p>
                <p class="align-left">Vemos un mercado inciando una etapa de auge nunca antes vista, y a la vez necesidades de inversores insatisfechas, junto con información escasa e imporfecta, que perjudican la toma de decisiones de trading.</p>
            </div>
            <div class="col-md-4 col-md-offset-4 career-contact" style="color:rgb(20, 112, 99)">
                <p class="text-center wow pulse"><a href="/" style="font-size:25px;color:rgb(20, 112, 99)"> <i class="fa fa-home pr-10"></i></a><b style="font-size:18px">Ir al Home</b></p>
            </div>
        </div>
        @*<div class="row">
            <div class="profile">
                <h2>
                    OUR TEAM
                </h2>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-delay=".1s">
                        <img src="~/Images/member1.jpg" alt="">
                        <div class="caption">
                            <h4>
                                Thumbnail label
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
                            </p>
                            <div class="team-social-link">
                                <a href="#">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-delay=".3s">
                        <img src="~/Images/member2.jpg" alt="">
                        <div class="caption">
                            <h4>
                                Thumbnail label
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
                            </p>
                            <div class="team-social-link">
                                <a href="#">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="thumbnail wow fadeInUp" data-wow-delay=".5s">
                        <img src="~/Images/member4.jpg" alt="">
                        <div class="caption">
                            <h4>
                                Thumbnail label
                            </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
                            </p>
                            <div class="team-social-link">
                                <a href="#">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-twitter">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus">
                                    </i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-github">
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>*@
</div>